.initial-setup-login {
    padding: 0px 40px;
}

.initial-setup__friends {
    margin-top: 154px;
    padding: 0px var(--horizontal-space);
}

.initial-setup__chat {
    margin-top: 156px;
    padding: 0px var(--horizontal-space);
}

.initial-setup__find {
    margin-top: 198px;
    padding: 0px var(--horizontal-space);
}

.initial-setup__more {
    margin-top: 108px;
    padding: 0px var(--horizontal-space);
}