.recommended-friends {
    margin: 22px 0px;
    padding-top: 28px;
    border-top: var(--main-border);
    border-bottom: var(--main-border);
    color: rgba(0, 0, 0, 0.5);
    font-size: 26px;
}

.recommended-friends span{
    margin: 164px 0px;

    font-size: 28px;
    color: rgba(0, 0, 0, 0.5);

    display: block;
    text-align: center;
}

.open-chat__header {
    margin-bottom: 34px;

    font-size: 24px;
    opacity: 0.55;

    display: flex;
    justify-content: space-between;
}

.open-chat__header span{
    opacity: 0.6;
}

.open-post {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.open-post__title {
    margin-bottom: 7px;

    font-size: 32px;
    font-weight: 400;
}

.open-post__hashtags {
    padding: 2px 0px;

    font-size: 28px;
    text-transform: uppercase;
    opacity: 0.4;
}

.open-post__members {
    margin-top: 7px;
    display: flex;
    align-items: center;
}

.open-post__members img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 5px;
}

.open-post__member-count {
    font-size: 24px;
    opacity: 0.4;
}

.open-post__members .divider {
    width: 1.5px;
    height: 24px;
    margin: 0 10px;
    background-color: rgba(0, 0, 0, 0.3);
}

.open-post__member-status {
    font-size: 24px;
    color: #ff8ad1;
}

.open-post__photo {
    position: relative;
}

.open-post__photo img {
    width: 160px;
    height: 160px;
    border-radius: 10px;
}

.open-post__heart-count {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 5px 10px;
    border-radius: 20px;

    font-size: 22px;

    display: flex;
    align-items: center;
    position: absolute;
    bottom: 15px;
    right: 15px;

}

.open-post__heart-count span {
    margin-left: 5px;
}

@keyframes heartBeat {
    0% {
        color: white;
    }
    50% {
        color: red;
        transform: scale(1.3);
    }
    100% {
        color: white;
    }
}

.open-post__heart-count:hover i {
    will-change: transform;
    animation: heartBeat 2s ease-in-out infinite;
}