#friends-display-link {
    padding: 20px 0px;
    background-color: #fafafa;
    font-size: 28px;

    display: flex;
    justify-content: center;
    align-items: center;
}

#friends-display-link i {
    color: rgba(0, 0, 0, 0.3);
}

#friends-display-link i:first-child {
    margin-right: 5px;
}

#friends-display-link i:last-child {
    margin-left: 5px;
}

.friends-screen__channel {
    margin-top: 15px;
    border-top: var(--main-border);
    padding-top: 20px;
}

.friends-screen__channel-header {
    margin-bottom: 24px;

    font-size: 23px;
    display: flex;
    justify-content: space-between;
    color: rgba(0, 0, 0, 0.5);
}