.welcome-header {
    margin-top: 163px;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.welcome-header__title {
    margin-bottom: 42px;

    font-size: 41px;
}

.welcome-header__text {
    margin-bottom: 140px;
    
    font-size: 30px;
    opacity: 0.54;
}

.login-form {
        display: flex;
        flex-direction: column;
    }
    
.login-form__id, 
.login-form__password {
    margin-bottom: 32px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    padding-bottom: 32px;

    font-size: 32px;
    opacity: 0.6;

    transition: border-color 0.3s ease-in-out;
}

.login-form__id:focus,
.login-form__password:focus {
    border-color: var(--yellow);
}

.login-form__login {
    margin: 25px 0px 20px 0px;
    border: none;
    border-radius: 5px;
    padding: 28px 0px;
    background-color: rgba(0, 0, 0, 0.03);
    
    font-size: 28px;

    cursor: pointer;
}

.login-form__signup {
    margin-bottom: 30px;
    border: none;
    border-radius: 5px;
    padding: 28px 0px;
    background-color: rgba(0, 0, 0, 0.03);
    
    font-size: 28px;
    
    cursor: pointer;
}

.login-form__link {
    text-align: center;
    text-decoration: none;
    color: inherit;
    font-size: 24px;
}