.alt-header {
    position: fixed;
    top: 26px;

    width: 100%;
    padding: var(--horizontal-space);
    box-sizing: border-box;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.alt-header__title {
    font-size: 38px;
    font-weight: 600;
}

.alt-header__column {
    width: 33%;
    box-sizing: border-box;
}

.alt-header__column:first-child {
    margin-right: auto;

    font-size: 46px;

    justify-content: flex-start;
}

.alt-header__column:nth-child(2) {
    text-align: center;
}

.alt-header__column:last-child {
    margin-left: auto;

    font-size: 32px;

    display: flex;
    justify-content: flex-end;
}

.alt-header__column span:last-child {
    margin-left: 20px;
}