.nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f9f9fa;
    padding: 28px 80px;
    box-sizing: border-box;
    border-top: 1px solid rgba(0, 0, 0, 0.14);
}

.nav__list {
    display: flex;
    justify-content: space-between;
}

.nav__link {
    font-size: 20px;

    color: #2e363e;
    position: relative;
}

.nav__notification-number {
    position: absolute;
    left: 26px;
    bottom: 16px;
}

.nav__notification-dot {
    position: absolute;
    left: 40px;
    bottom: 35px;
    
    background-color: tomato;
    width: 8px;
    height: 8px;
    border-radius: 4px;
}