.user-component {
    padding: 16px 0px;
    justify-content: space-between;
}
.user-component,
.user-component__column:first-child {
    display: flex;
    align-items: center;
}

.user-component__column:last-child i {
    font-size: 44px;
}

.user-component__avatar {
    width: 90px;
    height: 90px;
    border-radius: 40px;
    margin-right: 20px;
}

.user-component__avatar--xl {
    width: 112px;
    height: 112px;
    border-radius: 50px;
}

.user-component__avatar--sm {
    width: 78px;
    height: 78px;
    border-radius: 32px;
}

.user-component__title {
    font-weight: 600;
    font-size: 34px;
    margin-bottom: 10px;
    
    display: block;
}

.user-component__title--not-bold {
    font-weight: 350;
}

.user-component__subtitle {
    margin-top: 8px;
    font-size: 26px;
    opacity: 0.46;
}

.user-component__column:last-child {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.user-component__column:last-child span {
    font-size: 22px;
    opacity: 0.26;
}
